* {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 0.5%;
    z-index: 1000;
    border-bottom: solid 1px #333;
}

#nav-image {
    width: 8%;
    height: 8%;
    object-fit: cover;
    border-radius: 999px;
    padding-right: 2%;
}
#nav-name {
    padding-top: 0.5%;
}

#nav-name a {
    text-decoration: none;
    color: black;
}

.nav-title {
    float: none;
    display: flex;
    align-items: center;
}

.nav-links {
    float: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-link {
    display: inline-block;
}

.nav-link a {
    text-decoration: none;
    color: black;
    border-radius: 999px;
    font-weight: bold;
    padding: 8px 15px;
}

.nav-link a:hover {
    color: #f4c430;
    background-color: rgba(244, 196, 14, 0.1);
}

.nav-item {
    display: inline-block;
}

#join {
    background-color: #f4c430;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 8px 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border 0.2s;
    outline: none;
    border: 2px solid transparent;
    margin-left: 5px;
}

#join:hover {
    background-color: #fffbe6;
    color: #f4c430;
    border: 2px solid #f4c430;
}

.join-button {
    text-decoration: none;
    background-color: #f4c430;
    color: white;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

#join:hover .join-button {
    background-color: #fffbe6;
    color: #f4c430;
}
